body {
    background-color: rgb(255, 255, 255);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    color: pink;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: violet;
    color: whitesmoke;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: lightcoral;
    color: aliceblue;
    font-family: Arial;
    margin: 0px;
}

a:hover{
    color: aqua;
    text-decoration: underline;
}

a:ative{
    color: pink;
    opacity: 0.3;
}

a:link{
    color: rebeccapurple;
}

a:visited{
    color: pink;
}