body {
    background-color: rgb(255, 255, 255);
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

main {
    color: pink;
    font-family: Arial;
    margin: 10px 20px 45px;
}

header {
    background-color: violet;
    color: whitesmoke;
    font-family: Arial;
    margin: 0px;
}

footer {
    background-color: lightcoral;
    color: aliceblue;
    font-family: Arial;
    margin: 0px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a{
    color: darksalmon;
    text-decoration: none;
    transition: 3s 5s;
}

a:hover{
    color: aqua;
    text-decoration: underline;
    transition: 0.3s;
}

a:ative{
    color: magenta;
    opacity: 0.3;
}

a:link{
    color: rebeccapurple;
}

a:visited{
    color: yellow;
}

div.menu{
    border: 3px solid plum;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover{
    background-color: aliceblue;
    box-shadow: 0 0 15px black;
}

h1 {
    text-align: center;         
    font-family: 'Arial', sans-serif; 
    color: #2c3e50;           
    margin: 30px 0 20px 0;      
     font-size: 36px;            
    text-transform: uppercase;  
    letter-spacing: 1px;        
}



